/* 背景渐变 */
#web_bg{
    /*紫粉渐变*/
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    /*粉白蓝*/
    /*background-image: linear-gradient(-225deg, #dfbacd 0%, #B8DCFF 48%, #58abf3 100%);*/
     /*background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);*/
}
/* 页脚footer */
#footer {
    /* 与背景渐变效果一致
    background-image: linear-gradient(-225deg, #d6badf 0%, #B8DCFF 28%, #58abf3 100%);
}*/
 background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
#footer:before {
    background-color: rgba(0, 0, 0, 0);
}
/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}
  /* 中 */
@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 2.0新增内容 */    
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}
/* 导航居中 */
#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
/* 子菜单居中 */
#nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
}
/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
